@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
    font-family: "Space Grotesk", sans-serif;
    color: white;
    font-weight: 600;

}

body{
    background: url('img/background.jpg');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position : center;
    display: flex;
    align-items : center;
    justify-content : center;


}

body::before{
    content : "";
    position : absolute;
    width : 100%;
    height: 100dvh;
    background : rgb(0, 0, 0, 0.15);
    backdrop-filter : blur(15px);

}

/*
reuseable utility classes
*/
.regular-txt {
    font-weight : 400;
    }










.main-container {
    width : 300px;
    height : 496px;
    z-index: 1;
    background: linear-gradient(to top, rgb(0 ,0, 0, 0.15), rgb(255, 255, 255, 0.15));
    border-radius : 15px;
    backdrop-filter: blur(200px);
    padding: 20px;  
}


/*
Input Section
*/

.input-container{
    position: relative;
    margin-bottom : 25px;

}

.city-input{
    width : 100%;
    height : 40px;
    border-radius : 99px;
    border : 3px solid transparent;
    outline : none;
    padding : 10px 16px;
    padding-right : 45px;
    font-weight : 500;
    background : rgb(255, 255, 255, 0.25);
    transition: 0.25s border;
}

.city-input:focus{
    border : 3px solid rgb(153, 190, 212);
}

.city-input::placeholder{
    color : rgb(227, 239, 243);
}

.get-weather-btn{
    position: absolute;
    right : 16px;
    top : 50%;
    transform : translateY(-50%);
    background :none;
    display : flex;
    cursor : pointer;
    border : none;
}

/* Weather Sectioon*/

.weather-info {
    display: flex;
    flex-direction: column;
    gap : 25px;
}

.location-date-container{
    display : flex;
    justify-content: space-between;
    align-items : center;
}

.location{
    display : flex;
    align-items: center;
    gap : 6px; 
}

.weather-summary-container{
    display : flex;
    justify-content: space-around;
    align-items : center;
}

.weather-summary-img{
    width: 120px;
    height : 120px;
}
.weather-summary-info{
    text-align : end;
}

.wrather-condition-container{
    display : flex;
    justify-content : space-between;
}

.condition-item{
    display : flex;
    align-items : center;
    gap : 6px;
}

.condition-item span{
    font-size : 30px;
}

.forcast-item-container{
    display: flex;
    gap : 15px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom : 12px;

}
.forcast-item-container::-webkit-scrollbar{
    height : 8px;
}

.forcast-item-container::-webkit-scrollbar-thumb{
    background : rgba(99, 173, 196, 0.2);
    border-radius : 99px;
}
.forcast-item-container::-webkit-scrollbar-track{
    background : transparent;
    border-radius: 99px;
} 
.forcast-item{
    min-width: 70px;
    background : rgb(255, 255, 255, 0.1);
    display : flex;
    flex-direction: column ;
    gap : 6px;
    align-items : center;
    padding : 10px;
    border-radius : 12px;
}

.forcast-item:hover{
    background: rgb(255, 255, 255, 0.15);
}
.forcast-item-img{
    width : 35px;
    height : 35px;
}

/* Search City : message*/
.section-message{
    display : flex;
    flex-direction : column;
    align-items: center;
    text-align: center;
    gap : 13px;
    margin-top : 25%;
}
.section-message img{
    height: 180px;
    width: fit-content;
}
