@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
    font-family: "Space Grotesk", sans-serif;
    color: white;

}

body{
    background: url('img/background.jpg');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position : center;
    display: flex;
    align-items : center;
    justify-content : center;


}

body::before{
    content : "";
    position : absolute;
    width : 100%;
    height: 100dvh;
    background : rgb(0, 0, 0, 0.15);
    backdrop-filter : blur(15px);

}

.main-container {
    width : 300px;
    height : 496px;
    z-index: 1;
    background: linear-gradient(to top, rgb(0 ,0, 0, 0.15), rgb(255, 255, 255, 0.15));
    border-radius : 15px;
    backdrop-filter: blur(200px);
}